
/* Your CSS Code here. */
*{
	margin : 5px;
	padding : 0px;

}

body h1{
	font-size : 25px;
	margin : 5px;
	padding : px;
}

label {
    display: block;
    margin: 6px 0px;
    cursor: pointer;
}

blockquote{
Max-width:  600px;
Margin: 10px;
Padding:  15px;
Border-left: 8px solid green;
Background-color: #f9fffe;
Font-weight: Bold;
font-size: 15px;
}